# Dependencies
node_modules/

# Production build outputs
dist/

# Local cache & temporary files
.vite/
.vercel/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# Files
DESIGN-apple.md
DESIGN-bastion.md
